@import url(../blocks/body/body.css);

@import url(../blocks/main/main.css);
@import url(../blocks/main/__right/main__right.css);
@import url(../blocks/main/__left/main__left.css);

@import url(../blocks/grid/grid.css);
@import url(../blocks/grid/__item/grid__item.css);
@import url(../blocks/grid/__image/grid__image.css);
@import url(../blocks/grid/__title/grid__title.css);
@import url(../blocks/grid/__text/grid__text.css);